.card {
    width: 282px;
    padding: 8px 8px 16px 8px;

    display: flex;
    flex-direction: column;

    border-radius: 12px;
    background: var(--Black-80);
    backdrop-filter: blur(40px);

    position: relative;
}

.card > img {
    border-radius: 8px;
    margin-bottom: 24px;
}

.card > span {
    color: var(--Grey-50);
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}