.card {
    width: 282px;
    padding: 8px 8px 16px 8px;

    display: flex;
    flex-direction: column;

    border-radius: 12px;
    background: var(--Black-80);
    backdrop-filter: blur(40px);

    position: relative;
}

.link {
text-decoration: none;
}

.card > img {
    height: 400px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 24px;
    object-fit: cover;
}

.card > span {
    color: var(--Grey-50);
    letter-spacing: 0.32px;
    margin-bottom: 16px;

    white-space: nowrap; /* Предотвращает перенос текста на новую строку */
    overflow: hidden; /* Обрезает текст, который не помещается в контейнер */
    text-overflow: ellipsis; /* Добавляет многоточие (...) для обозначения обрезанного текста */
}