.description {
    color: var(--Grey-300, #8E95A9);
    font-style: normal;
    font-weight: 400;
}

.description-title {
    font-size: 16px;
    line-height: 24px; /* 150% */
}

.description-card {
    font-size: 20px;
    line-height: 32px; /* 160% */
}