.button {
    display: block;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px solid var(--Primary-400, #7B6EF6);
    background: var(--Primary-400, #7B6EF6);
    cursor: pointer;

    color: var(--White-100, #FFF);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}